# CONTOH ENV VARIABLE UNTUK SUPERTOKENS
# Salin file ini menjadi .env.local lalu isi sesuai kebutuhan.

# Alamat website (harus sama dengan domain deploy production nantinya)
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000
NEXT_PUBLIC_WEBSITE_DOMAIN=http://localhost:3000

# Alamat SuperTokens Core lokal dari docker-compose.yml
SUPERTOKENS_CONNECTION_URI=http://localhost:3567

# Isi dengan secret lokal/production.
SUPERTOKENS_API_KEY=
API_KEYS=
